[package]
name = "cli"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "lib"]

[dependencies]
workflow-log = { path = "../../workflow-log" }
workflow-core = { path = "../../workflow-core" }
workflow-terminal = {path = "../../workflow-terminal"}
async-trait = "0.1.57"

